@font-face {
  font-family: DIN;
  src: url(./assets/DIN-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* scrollspy */

.section-nav {
  position: fixed;
  top: 12rem;
  left: 20px;
  align-self: start;
  z-index: 20;
}

.section-nav li {
  text-decoration: none;
  list-style-type: none;
  padding-bottom: 5px;
}

.section-nav a {
  transition: all 100ms ease-in-out;
  text-decoration: line-through;
  text-align: left;
  font: normal normal bold 18px/52px DIN Condensed;
  letter-spacing: 0.18px;
  color: #333333;
  pointer-events: none;
}

.inactive {
  opacity: 0;
}

.active {
  opacity: 1;
}

#color {
  color: #ffffff;
  text-shadow: 1px 1px #333333;
}

/* HEADER and NAVBAR */

.header {
  top: 0.1013154610991478px;
  left: 0px;
  width: 100%;
  height: 768px;
  background: #ffdac9 0% 0% no-repeat padding-box;
  display: flex;
}
.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  margin-top: 10px;
  z-index: 20;
}

.request-button {
  top: 327px;
  left: 1320px;
  width: 30px;
  height: 100px;
  position: fixed;
  z-index: 20;
}

.nav-bar-ul {
  background-color: transparent;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-bar-second {
  background-color: transparent;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 360px;
}

.nav-bar-ul a {
  text-align: center;
  font: normal normal bold 18px/52px DIN Condensed;
  letter-spacing: 0.18px;
  color: #333333;
  opacity: 1;
  text-decoration: none;
  display: flex;
  margin: 0 40px;
}

.nav-bar-second a {
  text-align: center;
  font: normal normal bold 18px/52px DIN Condensed;
  letter-spacing: 0.18px;
  color: #333333;
  opacity: 1;
  text-decoration: none;
  display: flex;
  margin: 0 40px;
}

/* MAINPAGE SECTION */

.mainpic {
  opacity: 1;
  top: 0.10131599754095078px;
  padding-left: 280px;
  width: 866px;
  height: 768px;
  margin-top: 0px;
}

.stamp {
  top: 133px;
  left: 310px;
  width: 138px;
  height: 138px;
  transform: matrix(0.99, -0.12, 0.12, 0.99, 0, 0);
  position: absolute;
}

.text-main {
  position: absolute;
  top: 323px;
  left: 510px;
  width: 432px;
  height: 186px;
}

.title {
  text-align: center;
  font: normal normal bold 82px/95px DIN Condensed;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 2px;
}

.subtitle {
  text-align: center;
  font: normal normal bold 35px/52px DIN Condensed;
  letter-spacing: 0px;
  color: #ffffff;

  margin-top: 0px;
}

/* OUR COMMUNITY SECTION */

.community-section {
  height: 650px;
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 129px;
}

.community-title {
  top: 848px;
  margin-left: 419px;
  width: 232px;
  height: 114px;
  text-align: left;
  font: normal normal bold 52px/42px DIN Condensed;
  letter-spacing: 0px;
  color: #333333;
}

.comm-title2 {
  margin-top: 0px;
  text-decoration: line-through #ffdac9;
  margin-bottom: 2px;
}

.comm-title1 {
  margin-bottom: 30px;
}

.link-btn {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  /* margin-left: 20px; */
}

.community-section a {
  background-color: #ffdac9;
  color: #333333;
  font: normal normal bold 18px DIN Condensed;
  letter-spacing: 0.18px;
  text-align: left;
  text-decoration: none;
}

.text-comm {
  font: normal normal bold 22px/25px DIN Condensed;
  text-align: left;
  top: 1025px;
  left: 421px;
  width: 199px;
  height: 116px;
  letter-spacing: 0.44px;
  color: #333333;
  padding-top: 73px;
}

.logo a {
  font-size: 28px;
}

.community-bg {
  padding-top: 101px;
  padding-left: 217px;
  width: 1036px;
  height: 377px;
}

.tacos-pic {
  position: absolute;
  top: 904px;
  left: 701px;
  width: 322px;
  height: 321px;
}

.tacos-card {
  position: absolute;
  top: 904px;
  left: 930px;
  width: 322px;
  height: 321px;
}

.crepes-pic {
  position: absolute;
  top: 1177px;
  left: 356px;
  width: 322px;
  height: 321px;
}

.crepes-card {
  position: absolute;
  top: 1177px;
  left: 126px;
  width: 322px;
  height: 321px;
}

.community-text {
  position: absolute;
  top: 1536px;
  left: 186px;
  width: 192px;
  height: 141px;
  text-align: left;
  font: normal normal normal 15px/20px Gill Sans;
  letter-spacing: 0.15px;
  color: #333333;
}

.food-card {
  position: absolute;
  top: 1469px;
  left: 696px;
  width: 322px;
  height: 321px;
}

.food-pic {
  position: absolute;
  top: 1469px;
  left: 926px;
  width: 322px;
  height: 321px;
}

/* LOCATION SECTION - CSS */

.map {
  padding-top: 129px;
  left: 0px;
  width: 100%;
  height: 500px;
}

.map-card-title {
  position: absolute;
  left: 19px;
  right: 19px;
  width: 184px;
  height: 62px;
  bottom: 60px;
  text-align: left;
  font: normal normal bold 62px/52px DIN Condensed;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.map-card {
  position: absolute;
  top: 1936px;
  left: 128px;
  width: 220px;
  height: 106px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.map-card-text {
  padding-top: 45px;
  left: 146px;
  padding-left: 18px;
  padding-right: 30px;
  padding-bottom: 16px;
  width: 172px;
  height: 45px;
  text-align: left;
  font: normal normal normal 15px/20px Gill Sans;
  letter-spacing: 0.15px;
  color: #333333;
  opacity: 1;
}

/* OUR MENU SECTION - CSS */

.our-menu {
  top: 2348px;
  left: 0px;
  width: 100%;
  height: 894px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  display: flex;
}

.our-menu-title {
  text-align: center;
  font: normal normal bold 62px/52px DIN Condensed;
  letter-spacing: 0px;
  color: #333333;
  padding-top: 65px;
  left: 584px;
  height: 114px;
  position: absolute;
  text-decoration: line-through #ffdac9;
}

.our-menu-head a {
  background-color: #ffdac9;
  color: #333333;
  font: normal normal bold 18px DIN Condensed;
  letter-spacing: 0.18px;
  text-align: left;
  text-decoration: none;
}

.our-menu-head {
  position: absolute;
}

.btn-our-menu {
  padding-top: 120px;
  justify-content: center;
}

.btn-our-menu a {
  margin-left: 650px;
  position: absolute;
}

.comm-btn a {
  position: absolute;
  margin-top: 10px;
}

.starters {
  top: 0px;
  padding-left: 146px;
  width: 268px;
  height: 894px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
}

/* POPULAR RECIPES SECTION */

.recipes {
  top: 2348px;
  left: 0px;
  width: 100%;
  height: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.recipes-header {
  display: flex;
  justify-content: space-around;
}

.r-title1 {
  padding-top: 91px;
  padding-left: 13px;
  width: 100px;
  height: 35px;
  text-align: left;
  font: normal normal bold 35px/52px DIN Condensed;
  letter-spacing: 0px;
  color: #333333;
}

.r-title2 {
  padding-top: 10px;
  width: 161px;
  height: 62px;
  text-align: left;
  font: normal normal bold 62px/52px DIN Condensed;
  letter-spacing: 0px;
  color: #333333;
  text-decoration: #ffdac9 line-through;
}

.recipes-title a {
  background-color: #ffdac9;
  color: #333333;
  font: normal normal bold 18px/52px DIN Condensed;
  letter-spacing: 0.18px;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  margin-left: 13px;
}

.r-link-btn {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.r-subtitle {
  padding-top: 140px;
  width: 476px;
  height: 35px;
  text-align: right;
  font: normal normal bold 35px/52px DIN Condensed;
  letter-spacing: 0px;
  color: #333333;

  margin-bottom: 25px;
}

.recipes-subtitle a {
  background-color: #ffdac9;
  color: #333333;
  font: normal normal bold 18px DIN Condensed;
  letter-spacing: 0.18px;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  margin-left: 377px;
}

.r-link-btn-sub {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.cards {
  display: flex;
  opacity: 1;
  width: 100%;
  scroll-snap-align: start;
}

.slider-recipes {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 700px;
}

.first-card {
  margin-left: 200px;
  margin-top: 65px;
  width: 370px;
  height: 560px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 30px #0000000a;
  opacity: 1;
}

.card1-pic {
  top: 3519px;
  left: 146px;
  width: 370px;
  height: 370px;
}

.card1-difficulty {
  width: 49px;
  height: 14px;
  text-align: left;
  font: normal normal bold 14px/42px DIN Condensed;
  letter-spacing: 0.14px;
  color: #767676;
  opacity: 0.56;
  padding-left: 24.5px;
  padding-top: 8px;
}

.card1-title {
  width: 322px;
  height: 56px;
  text-align: left;
  font: normal normal bold 22px/25px DIN Condensed;
  letter-spacing: 0.44px;
  color: #333333;
  opacity: 1;
  padding-top: 28.5px;
  padding-left: 24px;
}

.card1-text {
  width: 322px;
  height: 62px;
  text-align: left;
  font: normal normal normal 15px/20px Gill Sans;
  letter-spacing: 0.15px;
  color: #767676;
  opacity: 1;
  padding-top: 8px;
  padding-left: 24px;
}

.user-name {
  width: 76px;
  height: 14px;
  text-align: right;
  font: normal normal bold 14px/42px DIN Condensed;
  letter-spacing: 0.14px;
  color: #333333;
  opacity: 1;
  padding-top: 16px;
  padding-left: 293px;
}

.serving-box {
  position: absolute;
  top: 3489px;
  left: 200px;
  width: 110px;
  height: 110px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.serving-box-title1 {
  padding-top: 20px;
  padding-left: 13px;

  width: 81px;
  height: 49px;
  text-align: center;
  font: normal normal bold 50px/45px DIN Condensed;
  letter-spacing: 0.5px;
  color: #ffffff;
  opacity: 1;
}
.serving-box-title2 {
  padding-left: 18px;
  width: 76px;
  height: 16px;
  text-align: center;
  font: normal normal bold 22px/25px DIN Condensed;
  letter-spacing: 0.44px;
  color: #ffffff;
  opacity: 1;
}

.go-btn {
  position: absolute;
  top: 3799px;
  left: 510px;
  width: 60px;
  height: 60px;
}

.chef-stamp {
  position: absolute;
  top: 3428px;
  left: 443px;
  width: 192px;
  height: 192px;
}

.second-card {
  margin-top: 65px;
  margin-left: 25px;
  width: 240px;
  height: 450px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 30px #0000000a;
  opacity: 1;
}

.card2-pic {
  top: 3519px;
  left: 541px;
  width: 240px;
  height: 240px;
  background: #ffc7b2 0% 0% no-repeat padding-box;
  opacity: 1;
}

.serving-box-card2 {
  position: absolute;
  top: 3489px;
  left: 595px;
  width: 72px;
  height: 72px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.serving-box-card2-title1 {
  position: absolute;
  padding-top: 12px;
  padding-left: 13px;
  width: 45px;
  height: 35px;
  text-align: center;
  font: normal normal bold 35px/45px DIN Condensed;
  letter-spacing: 0.35px;
  color: #ffffff;
  opacity: 1;
}

.serving-box-card2-title2 {
  position: absolute;
  padding-left: 11px;
  padding-top: 35px;
  width: 54px;
  height: 16px;
  text-align: center;
  font: normal normal bold 14px/42px DIN Condensed;
  letter-spacing: 0.14px;
  color: #ffffff;
  opacity: 1;
}

.card2-title {
  width: 202px;
  height: 56px;
  text-align: left;
  font: normal normal bold 22px/25px DIN Condensed;
  letter-spacing: 0.44px;
  color: #333333;
  opacity: 1;
  padding-top: 28.5px;
  padding-left: 24px;
}

.card2-text {
  width: 197px;
  height: 81px;
  text-align: left;
  font: normal normal normal 15px/20px Gill Sans;
  letter-spacing: 0.15px;
  color: #767676;
  opacity: 1;
  padding-top: 8px;
  padding-left: 24px;
}

.user-name2 {
  width: 76px;
  height: 14px;
  text-align: right;
  font: normal normal bold 14px/42px DIN Condensed;
  letter-spacing: 0.14px;
  color: #333333;
  opacity: 1;
  padding-top: 16px;
  padding-left: 165px;
}

.go-btn2 {
  position: absolute;
  top: 3669px;
  left: 775px;
  width: 60px;
  height: 60px;
}

.third-card {
  margin-top: 211px;
  margin-left: 25px;
  width: 240px;
  height: 450px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 30px #0000000a;
  opacity: 1;
}

.serving-box-card3 {
  position: absolute;
  top: 3635px;
  left: 861px;
  width: 72px;
  height: 72px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.serving-box-card3-title1 {
  position: absolute;
  padding-top: 12px;
  padding-left: 13px;
  width: 45px;
  height: 35px;
  text-align: center;
  font: normal normal bold 35px/45px DIN Condensed;
  letter-spacing: 0.35px;
  color: #ffffff;
  opacity: 1;
}

.serving-box-card3-title2 {
  position: absolute;
  padding-left: 11px;
  padding-top: 35px;
  width: 54px;
  height: 16px;
  text-align: center;
  font: normal normal bold 14px/42px DIN Condensed;
  letter-spacing: 0.14px;
  color: #ffffff;
  opacity: 1;
}

.go-btn3 {
  position: absolute;
  top: 3815px;
  left: 1040px;
  width: 60px;
  height: 60px;
}

.card3-difficulty {
  width: 49px;
  height: 14px;
  text-align: left;
  font: normal normal bold 14px/42px DIN Condensed;
  letter-spacing: 0.14px;
  color: #767676;
  opacity: 0.56;
  padding-right: 324.5px;
}

.card3-pic {
  width: 240px;
  height: 240px;
}

.card3-stamp {
  position: absolute;
  top: 3587px;
  left: 1006px;
  width: 83px;
  height: 79px;
}

.fourth-card {
  margin-top: 65px;
  margin-left: 25px;
  width: 240px;
  height: 450px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 30px #0000000a;
  opacity: 1;
}

.card4-pic {
  top: 3519px;
  left: 1071px;
  width: 240px;
  height: 240px;
  opacity: 1;
}

.serving-box-card4 {
  position: absolute;
  top: 3489px;
  left: 1125px;
  width: 72px;
  height: 72px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.serving-box-card4-title1 {
  position: absolute;
  padding-top: 12px;
  padding-left: 13px;
  width: 45px;
  height: 35px;
  text-align: center;
  font: normal normal bold 35px/45px DIN Condensed;
  letter-spacing: 0.35px;
  color: #ffffff;
  opacity: 1;
}

.serving-box-card4-title2 {
  position: absolute;
  padding-left: 11px;
  padding-top: 35px;
  width: 54px;
  height: 16px;
  text-align: center;
  font: normal normal bold 14px/42px DIN Condensed;
  letter-spacing: 0.14px;
  color: #ffffff;
  opacity: 1;
}

.go-btn4 {
  position: absolute;
  top: 3669px;
  left: 1305px;
  width: 60px;
  height: 60px;
}

.card4-title {
  width: 197px;
  height: 56px;
  text-align: left;
  font: normal normal bold 22px/25px DIN Condensed;
  letter-spacing: 0.44px;
  color: #333333;
  opacity: 1;
  padding-top: 28.5px;
  padding-left: 24px;
}

.card4-text {
  width: 197px;
  height: 86px;
  text-align: left;
  font: normal normal normal 15px/20px Gill Sans;
  letter-spacing: 0.15px;
  color: #767676;
  opacity: 1;
  padding-top: 5px;
  padding-left: 24px;
}

.go-btn5 {
  position: absolute;
  top: 3669px;
  left: 1570px;
  width: 60px;
  height: 60px;
}

.left-arrow {
  width: 49px;
  height: 20px;
}

.right-arrow {
  width: 49px;
  height: 20px;
}

.left-arrow:hover {
  transform: scale(1.2);
}

.right-arrow:hover {
  transform: scale(1.2);
}

.arrows {
  padding-top: 67px;
  padding-left: 1106px;
  margin-bottom: 58px;
}

/* COLLABORATE SECTION - CSS */

.collaborate {
  top: 4209px;
  left: 0px;
  width: 100%;
  height: 462px;
  margin-top: 80px;
  background: #ffdac9 0% 0% no-repeat padding-box;
  opacity: 1;
}

.collaborate-title1 {
  top: 0px;
  padding-left: 10px;
  margin-bottom: 10px;
  width: 151px;
  height: 35px;
  text-align: left;
  font: normal normal bold 35px/52px DIN Condensed;
  letter-spacing: 0px;
  color: #333333;
}

.collaborate-title2 {
  top: 33px;
  left: 0px;
  height: 62px;
  text-align: left;
  font: normal normal bold 62px/52px DIN Condensed;
  letter-spacing: 0px;
  color: #333333;
  text-decoration: line-through #ffffff;
}

.collaborate-header {
  padding-top: 83px;
  padding-left: 147px;
}

.collaborate-text {
  top: 4406px;
  left: 136px;
  width: 322px;
  height: 169px;
  text-align: left;
  font: normal normal normal 15px/20px Gill Sans;
  letter-spacing: 0.15px;
  color: #767676;
  opacity: 1;
}

.collaborate-paragraph {
  padding-top: 19px;
  padding-left: 6px;
}

.collaborate1 {
  display: flex;
}

.collab {
  padding-left: 146px;
  display: flex;
}

.bg-detail {
  padding-top: 6px;
  padding-left: 667px;
  width: 134px;
  height: 98px;
}

.collab form {
  padding-left: 300px;
  display: flex;
  text-align: left;
  font: normal normal bold 14px/42px DIN Condensed;
  letter-spacing: 0.14px;
  color: #333333;
  opacity: 1;
}

.contact-us input {
  background-color: transparent;
  width: 200px;
  border: 0;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
}

.contact-us select {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  text-align: left;
  font: normal normal normal 15px/20px Gill Sans;
  letter-spacing: 0.15px;
  color: #333333;
  opacity: 1;
  width: 200px;
}

.part1-form {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}
.part2-form {
  display: flex;
  flex-direction: column;
}

.contact-us ::placeholder {
  text-align: left;
  font: normal normal normal 15px/20px Gill Sans;
  letter-spacing: 0.15px;
  color: #767676;
  opacity: 0.3;
}

.submit-button {
  background-color: #333333;
  border: none;
  color: #ffdac9;
  padding-top: 8.5px;
  padding-left: 16.6px;
  padding-bottom: 3.5px;
  padding-right: 17.4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: normal normal bold 18px DIN Condensed;
  letter-spacing: 0.18px;
  width: 62px;
  height: 30px;
}
.button {
  padding-left: 136px;
  width: 64px;
  height: 30px;
}

/* FOOTER */

footer {
  top: 4670px;
  left: 0px;
  width: 100%;
  height: 323px;
  background: #333333 0% 0% no-repeat padding-box;
  opacity: 1;
}

.footer {
  display: flex;
  padding-left: 136px;
  padding-top: 64px;
}

.final-menu {
  display: flex;
}

.section-menu {
  display: flex;
  flex-direction: column;
}

.section-menu-title {
  top: 4734px;
  left: 136px;
  width: 115px;
  height: 25px;
  text-align: left;
  font: normal normal bold 14px/42px DIN Condensed;
  letter-spacing: 0.14px;
  color: #ffdac9;
  opacity: 1;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.link-section-menu {
  top: 4763px;
  left: 136px;
  width: 115px;
  height: 17px;
  text-align: left;
  font: normal normal normal 13px/20px Gill Sans;
  letter-spacing: 0.13px;
  color: #767676;
  opacity: 1;
  text-decoration: none;
  padding-bottom: 15px;
}

.final-logo-title1 {
  top: 0px;
  left: 0.2700042724609375px;
  width: 122px;
  height: 35px;
  text-align: right;
  font: normal normal bold 35px/52px DIN Condensed;
  letter-spacing: 0px;
  color: #ffffff;
  padding-bottom: 10px;
}

.final-logo-title2 {
  top: 33px;
  left: 20px;
  width: 102px;
  height: 62px;
  text-align: right;
  font: normal normal bold 62px/52px DIN Condensed;
  letter-spacing: 0px;
  color: #ffffff;
  padding-left: 23px;
}

.final-logo {
  padding-left: 339px;
}

.bottom-footer {
  display: flex;
  padding-left: 136px;
  padding-top: 48px;
}

.footer-paragraph {
  top: 4924px;
  left: 136px;
  width: 745px;
  height: 26px;
  text-align: left;
  font: normal normal normal 13px/20px Gill Sans;
  letter-spacing: 0.13px;
  color: #767676;
  opacity: 1;
}

.icone {
  color: #ffffff;
  margin-right: 39px;
  text-decoration: none;
}

.icons-bar {
  padding-left: 65px;
}

/* Animation of OUR COMMUNITY SECTION and OUR MENU SECTION - CSS */

[data-anime] {
  opacity: 0;
  transition: 1.5s;
}

[data-anime="bottom"] {
  transform: translateY(120px);
}

[data-anime="down"] {
  transform: translateY(-420px);
}

[data-anime="up"] {
  transform: translateY(420px);
}

[data-anime].animate {
  opacity: 1;
  transform: translateY(0px);
}
