@font-face {
  font-family: DIN;
  src: url(./assets/DIN-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.header {
  top: 0.1013154610991478px;
  left: 0px;
  width: 100%;
  height: 768px;

  background: #ffdac9 0% 0% no-repeat padding-box;
  opacity: 1;
}
.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  margin-top: 10px;
}

.nav-bar-ul {
  background-color: transparent;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-bar-second {
  background-color: transparent;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 360px;
}

.nav-bar-ul a {
  text-align: center;
  font: normal normal bold 18px/52px DIN Condensed;
  letter-spacing: 0.18px;
  color: #333333;
  opacity: 1;
  text-decoration: none;
  display: flex;
  margin: 0 40px;
}

.nav-bar-second a {
  text-align: center;
  font: normal normal bold 18px/52px DIN Condensed;
  letter-spacing: 0.18px;
  color: #333333;
  opacity: 1;
  text-decoration: none;
  display: flex;
  margin: 0 40px;
}
/* .mainart {
  position: relative;
  display: inline-block;
} */

.mainpic {
  opacity: 1;
  top: 0.10131599754095078px;
  padding-left: 280px;
  width: 866px;
  height: 768px;
  margin-top: 0px;
}

.stamp {
  top: 97px;
  left: 243px;
  width: 208px;
  height: 208px;
  transform: matrix(0.99, -0.12, 0.12, 0.99, 0, 0);
  position: absolute;
}

.text-main {
  position: absolute;
  top: 323px;
  left: 510px;
  width: 432px;
  height: 186px;
}

.title {
  text-align: center;
  font: normal normal bold 82px/95px DIN Condensed;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 2px;
}

.subtitle {
  text-align: center;
  font: normal normal bold 35px/52px DIN Condensed;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-top: 0px;
}

.community-section {
  height: 650px;
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 129px;
}

.community-title {
  top: 848px;
  margin-left: 419px;
  width: 232px;
  height: 114px;
  text-align: left;
  font: normal normal bold 52px/42px DIN Condensed;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.comm-title2 {
  margin-top: 0px;
  text-decoration: line-through #ffdac9;
  margin-bottom: 2px;
}

.comm-title1 {
  margin-bottom: 30px;
}

.link-btn {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  /* margin-left: 20px; */
}

.community-section a {
  background-color: #ffdac9;
  color: #333333;
  font: normal normal bold 18px/52px DIN Condensed;
  letter-spacing: 0.18px;
  text-align: left;
  text-decoration: none;
}

.text-comm {
  font: normal normal bold 22px/25px DIN Condensed;
  text-align: left;
  top: 1025px;
  left: 421px;
  width: 199px;
  height: 116px;
  letter-spacing: 0.44px;
  color: #333333;
  opacity: 1;
}

.logo a {
  font-size: 28px;
}

.community-bg {
  padding-top: 101px;
  padding-left: 217px;
  width: 1036px;
  height: 377px;
  opacity: 1;
}

.tacos-pic {
  position: absolute;
  top: 904px;
  left: 701px;
  width: 322px;
  height: 321px;
  opacity: 1;
}

.tacos-card {
  position: absolute;
  top: 904px;
  left: 930px;
  width: 322px;
  height: 321px;
}

.crepes-pic {
  position: absolute;
  top: 1177px;
  left: 356px;
  width: 322px;
  height: 321px;
}

.crepes-card {
  position: absolute;
  top: 1177px;
  left: 126px;
  width: 322px;
  height: 321px;
}

.community-text {
  position: absolute;
  top: 1536px;
  left: 186px;
  width: 192px;
  height: 141px;
  text-align: left;
  font: normal normal normal 15px/20px Gill Sans;
  letter-spacing: 0.15px;
  color: #333333;
  opacity: 1;
}

.food-card {
  position: absolute;
  top: 1469px;
  left: 696px;
  width: 322px;
  height: 321px;
}

.food-pic {
  position: absolute;
  top: 1469px;
  left: 926px;
  width: 322px;
  height: 321px;
}

.map {
  padding-top: 129px;
  left: 0px;
  width: 100%;
  height: 500px;
}

.map-card-title {
  position: absolute;
  left: 19px;
  right: 19px;
  width: 184px;
  height: 62px;
  bottom: 60px;
  text-align: left;
  font: normal normal bold 62px/52px DIN Condensed;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.map-card {
  position: absolute;
  top: 1936px;
  left: 128px;
  width: 220px;
  height: 106px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.map-card-text {
  padding-top: 45px;
  left: 146px;
  padding-left: 18px;
  padding-right: 30px;
  padding-bottom: 16px;
  width: 172px;
  height: 45px;
  text-align: left;
  font: normal normal normal 15px/20px Gill Sans;
  letter-spacing: 0.15px;
  color: #333333;
  opacity: 1;
}

.our-menu {
  top: 2348px;
  left: 0px;
  width: 100%;
  height: 894px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
}

.our-menu-title {
  text-align: center;
  font: normal normal bold 62px/52px DIN Condensed;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  padding-top: 65px;
  left: 584px;
  height: 114px;
  position: absolute;
  text-decoration: line-through #ffdac9;
}

.our-menu-head a {
  background-color: #ffdac9;
  color: #333333;
  font: normal normal bold 18px DIN Condensed;
  letter-spacing: 0.18px;
  text-align: left;
  text-decoration: none;
}

.our-menu-head{
  position: absolute;
}

.btn-our-menu {
  padding-top: 120px;
  justify-content: center;
}

.btn-our-menu a{
  margin-left: 650px;
  position: absolute;
}

.starters {
  top: 0px;
  padding-left: 146px;
  width: 268px;
  height: 894px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  opacity: 1;
}

.recipes{
  top: 2348px;
  left: 0px;
  width: 100%;
  height: 967px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  
}

.r-title1{
padding-top: 91px;
padding-left: 147px;
width: 100px;
height: 35px;
text-align: left;
font: normal normal bold 35px/52px DIN Condensed;
letter-spacing: 0px;
color: #333333;
}

.r-title2{
padding-top: 10px;
padding-left: 134px;
width: 161px;
height: 62px;
text-align: left;
font: normal normal bold 62px/52px DIN Condensed;
letter-spacing: 0px;
color: #333333;
text-decoration:  #ffdac9 line-through;
}

.recipes-title a {
  background-color: #ffdac9;
  color: #333333;
  font: normal normal bold 18px/52px DIN Condensed;
  letter-spacing: 0.18px;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  margin-left: 147px;
}

.r-link-btn{
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  
}
